.title {
  display: flex;
  justify-content: center;
}

.title img {
  width: 50%;
}

.containerListPokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.listOfPokemons {
  background-color: white;
  border-radius: 5px;
  margin: 1%;
  display: inline-grid;
  text-align: center;
  text-transform: uppercase;
  width: 20%;
  justify-content: center;
  padding: 2% 0;
  box-shadow: 5px 5px 10px black;
}

.listOfPokemons {
  overflow: hidden;
}

.listOfPokemons:hover {
  transform: scale(1.1);
}

.listOfPokemons button {
  background-color: black;
  color: #FF7F50;
  height: 30px;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.listOfPokemons span {
  font-weight: bold;
}

.search {
  display: flex;
  justify-content: center;
  margin: 5% 0 3%;
}

.search input {
  padding: 1%;
  border-radius: 5px;
  width: 50%;
  border-color: transparent;
  box-shadow: 5px 5px 10px black;
}
