.title {
  display: flex;
  justify-content: center;
}

.title img {
  width: 50%;
}

.containerListPokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.listOfPokemons {
  background-color: white;
  border-radius: 5px;
  margin: 1%;
  display: inline-grid;
  text-align: center;
  text-transform: uppercase;
  width: 20%;
  justify-content: center;
  padding: 2% 0;
  box-shadow: 5px 5px 10px black;
}

.listOfPokemons {
  overflow: hidden;
}

.listOfPokemons:hover {
  transform: scale(1.1);
}

.listOfPokemons button {
  background-color: black;
  color: #ff7f50;
  height: 30px;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.listOfPokemons span {
  font-weight: bold;
}

.listOfPokemons img {
  image-rendering: pixelated;
}

.search {
  display: flex;
  justify-content: center;
  margin: 3% 0 3%;
}

.search input {
  padding: 1%;
  border-radius: 5px;
  width: 50%;
  border-color: transparent;
  box-shadow: 5px 5px 10px black;
}

.containerInfo {
  background-color: white;
  border-radius: 5px;
  display: inline-grid;
  text-align: center;
  text-transform: uppercase;
  width: 80vw;
  justify-content: center;
  padding: 2% 0;
  box-shadow: 5px 5px 10px black;
  margin-top: 5%;
  margin-bottom: 5%;
}

.containerInfo span {
  font-weight: bold;
}

.containerAppearence {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.containerInfo img {
  width: 250px;
  image-rendering: pixelated;
  
}
.containerInfo img:hover {
  position: relative;
  animation-name: animar;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes animar {
  0% {
    left: 0;
    top: 0;
  }
  10% {
    left: 5rem;
    top: 0rem;
  }
  30% {
    top: 5rem;
    left: 5rem;
  }
  60% {
    top: 5rem;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

.characteristics {
  text-align: left;
  margin-left: 8%;
}

.btn {
  display: flex;
  justify-content: left;
  margin-left: 8%;
  align-items: center;
}

.btn button {
  background-color: black;
  color: #ff7f50;
  height: 30px;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

hr {
  width: 100%;
}

.containerInfo span {
  text-shadow: 1px 1px 3px black;
}

.paginator {
  display: flex;
  justify-content: center;
  margin: 2%;
}

.paginator .btn {
  padding: 0.5%;
  border-radius: 2px;
  background-color:white;
  color: #ff7f50;
  margin: 1%;
  text-decoration: none;
  border-color: transparent;
  width: 8%;
  justify-content: center;
  font-weight: bold;
}

h1 {
  overflow: hidden;
}

.namePoke {
    animation-duration: 3s;
    animation-name: slidein;
}
  
  @keyframes slidein {
    75% {
      font-size: 100%;
      margin-left: 20%;
      width: 100%;
    }
  }
